<div class="page">
    <app-modal2 [(close)]="closeAppModal2" *ngIf="!closeAppModal2" [tabAbsences] = "tabAbsences"></app-modal2>
    <span class="title"><i class="bi bi-calendar-week" > Absences /</i></span>
    <div class="mt-5" >
        <button mat-raised-button color="primary" (click)="closeAppModal2 = false" > <i class="bi bi-building-add" ></i> Effectuer une demande d'absence</button>
    </div>
    <div class="mt-5 d-flex" >
        <div class="w-100">
            <h1 class="text-capitalize head-3 color-bordeau" >historique d'absences</h1>
            <div class="d-flex justify-content-start flex-wrap gap-3">

                <ng-container *ngIf="tabAbsences && tabAbsences.length; else empty" >
                    <app-card-absence *ngFor="let oneAbsence of tabAbsences" [absence]="oneAbsence" ></app-card-absence>
                </ng-container>
                <ng-template #empty>
                    <h1 class="fst-italic">Aucune Données Trouvées</h1>
                </ng-template>
            </div>
        </div>
        <div>
            <app-card2 title="Evenements" class="evenement"   ></app-card2>
        </div>
    </div>
</div>
