<h1 mat-dialog-title class="fw-bold">Nouvelle valeur de <span class="text-capitalize" style="color: brown;">
    {{row.libelle}}</span> </h1>
<div mat-dialog-content>
  <input type="text" [(ngModel)]="value" name="yu" class="value form-control my-4 py-3"
    placeholder="Entrer une nouvelle valeur">
</div>
<div mat-dialog-actions>
  <div class="d-flex justify-content-end gap-2" >
    <button mat-raised-button color="" (click)="close()">Annuler </button>
    <button mat-raised-button color="primary" (click)="updateValue()" [disabled]="disable()" >Modifier <i class="bi bi-save"></i> </button>
  </div>
</div>
<!-- 
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <p>New value of <span style="color: brown;"> {{libelle}}</span> </p>
    <input type="text" [(ngModel)]="value" name="yu" class="value" placeholder="value">
    <button mat-flat-button color="primary" (click)="updateValue()">Update</button>
  </mat-form-field>
</form> -->