<app-modal1 [(isOpen)]="openModal" *ngIf="openModal" [rows]="row"></app-modal1>
<app-modal-permanence [(open)]="visibleModalPermanence" *ngIf="visibleModalPermanence" [permanence]="permanence" (refresh)="refresh($event)" ></app-modal-permanence>
<div class="my-day my-card no-shadow no-border">
    <table class="table-bordered p-4 table border-black">
        <thead>
            <tr (click)="visibleModalPermanence = authRoles.includes('MODIFIER PLANNING')" class="head-day">
                <ng-template [ngIf]="!ordinaire" >
                    <th
                        [ngClass]="{'bg-mprimary-light':typeFerier=='ouvrable', 'bg-danger':typeFerier=='non_ouvrable'}"
                        colspan="2">
                        <h1> {{date| date:"E"}} </h1>
                        <h2> {{date| date:"dd/MM/yyyy"}} </h2>
                    </th>
                </ng-template>
                <ng-template [ngIf]="ordinaire">
                    <th >
                        <h1> {{date| date:"E"}} </h1>
                        <h2> {{date| date:"dd/MM/yyyy"}} </h2>
                    </th>
                    <!-- <th [ngClass]="{'bg-mprimary-light':date.getDay()==6}" >
                        <h1> {{date| date:"E"}} </h1>
                        <h2> {{date| date:"dd/MM/yyyy"}} </h2>
                    </th> -->
                </ng-template>
            </tr>
        </thead>

        <tbody>
            <tr>
                <ng-template [ngIf]="!ordinaire">
                    <td>
                       <div class="bg-mprimary text-white text-center fw-bold py-2 day" >
                            <span >JOUR</span>
                       </div>
                    </td>
                    <td>
                        <div class="bg-dark text-white text-center fw-bold py-2 day">
                            <span>NUIT</span>
                        </div>
                    </td>
                </ng-template>
                <ng-template [ngIf]="ordinaire" >
                    <td>
                        <div class="bg-dark text-white text-center fw-bold py-2 day">
                            <span>NUIT</span>
                        </div>
                    </td>
                </ng-template>
            </tr>
            <!-- body nom personnel -->
            <tr>
                <ng-template [ngIf]="!ordinaire">
                    <!-- Jour nom personnel  -->
                    <td>
                        <div class="div-person" *ngFor="let person of permanence.personnels_jour" (click)="handleClick(person.personnel)" >
                            <span class="day-person"   > {{person.personnel.firstname}} </span>
                        </div>
                    </td> 
                    <!-- Nuit nom personnel -->
                    <td>
                        <div class="div-person" *ngFor="let person of permanence.personnels_nuit" (click)="handleClick(person.personnel)">
                            <span class="day-person"> {{person.personnel.firstname}} </span>
                        </div>
                    </td>
                </ng-template>
                <ng-template [ngIf]="ordinaire" >
                    <!-- Juste la Nuit nom personnel -->
                    <td>
                        <div class="div-person"  *ngFor="let person of permanence.personnels_nuit" (click)="handleClick(person.personnel)" >
                            <span class="day-person"> {{person.personnel.firstname}} </span>
                        </div>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>