.page{
    margin-left: 300px;
    padding: 100px 2em;
    transition: all .5s ease-in-out;
    .title{
        color: #3F51B5;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.4em;
    }
}

.add.page{
    margin-left: 1em;
}