<div class="table1">
    <div>
        <div class="ms-4" >
            <div class="icon-title" [innerHTML]="icon"></div>
            <h1>{{title}}</h1>
        </div>
        <div class="ligne"></div>
        <div>
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom">Nom</th>
                    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                </ng-container>

                <ng-container matColumnDef="prenom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by prenom">Prenom
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                </ng-container>

                <ng-container matColumnDef="date_naissance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by date_naissance">Date de naissance</th>
                    <td mat-cell *matCellDef="let element"> {{element.date_naissance}} </td>
                </ng-container>

                <ng-container matColumnDef="sexe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sexe">Sexe</th>
                    <td mat-cell *matCellDef="let element"> {{element.sexe}} </td>
                </ng-container>

                <ng-container matColumnDef="matricule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by matricule">
                        Matricule</th>
                    <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
                </ng-container>

                <tr tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[2, 4, 8]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>