<div class="table1 shadow-by-material2 anim-slide-e">
    <div>
        <app-modal1 [(isOpen)]="openModal" *ngIf="openModal" [rows]="row" [type]="type" ></app-modal1>
        <div class="ms-4">
            <div class="icon-title" [innerHTML]="icon"></div>
            <h1>{{title}}</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center p-2" *ngIf="iconAdd">
            <button mat-raised-button color="btn-noir" (click)="handleAction({'titre':type, 'action':'ADD'})">
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <span [innerHTML]="iconAdd" class="fs-3 actionIcon"> </span>
                    <span *ngIf="type=='PERSONNEL'" >Ajouter un personnel</span>
                    <span *ngIf="type=='DEPARTEMENT'" >Ajouter un Departement</span>
                    <span *ngIf="type=='DIRECTION'" >Ajouter une Direction</span>
                </div>
            </button>
        </div>
        <div class="ligne"></div>
        <div>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">


                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef 
                            class="px-4">Action</th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content d-flex gap-4 action-icon"> 
                                <span title="Modifier" class="pen" (click)="actionIcon($event, 'UPDATE')" > <i class="bi bi-pen-fill"></i> </span>
                                <span title="Supprimer" class="trash" (click)="actionIcon($event, 'REMOVE')"> <i class="bi bi-trash-fill"></i> </span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="firstname" *ngIf="type=='PERSONNEL'"  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstname"
                            class="px-4">Nom</th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content ">{{element.firstname}}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name" *ngIf="type=='DEPARTEMENT' || type=='DIRECTION' "  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"
                            class="px-4">Nom</th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content ">{{element.name}}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="direction" *ngIf="type=='DEPARTEMENT'"  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by direction"
                            class="px-4">Direction</th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content ">{{element.direction.name}}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sexe" *ngIf="type=='PERSONNEL'"  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sexe"
                            class="px-4">Sexe
                        </th>
                        <td mat-cell *matCellDef="let element" class="px-4"> {{element.sexe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="emailaddress" *ngIf="type=='PERSONNEL'" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by emailaddress" class="px-4">Email</th>
                        <td mat-cell *matCellDef="let element" class="px-4"> {{element.emailaddress}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fonction" *ngIf="type=='PERSONNEL'" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fonction"
                            class="px-4">Fonction</th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content "> {{element.fonction}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="service" *ngIf="type=='PERSONNEL'" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by service"
                            class="px-4">
                            Service
                        </th>
                        <td mat-cell *matCellDef="let element" class="px-4">
                            <div class="w-max-content "> {{element.service}} </div>
                        </td>
                    </ng-container>

                    <tr tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleClick(row)"></tr>
                </table>
            </div>
            <mat-paginator *ngIf="dataSource && dataSource.data" [length]="dataSource.data.length" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>