<div class="page" >
    <span class="title"><i class="bi bi-database" > Collecte Données /</i></span>
    <div class="p-3 d-flex flex-wrap  gap-4" >
        <app-card1 title="Données Congés" [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-calendar' ></i>" ></app-card1>
        <app-card1 title="Personnel" [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-person-lines-fill' ></i>" ></app-card1>
        <app-card1 title="Autres" [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-person-fill-gear' ></i>" ></app-card1>
    </div>
</div>

