<div class="page" >
    <span class="title"><i class="bi bi-database" > Collecte Données /</i></span>
    <div class="p-3 d-flex flex-wrap  gap-4" >
        <app-card1 title="Données Congés"  [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-calendar' ></i>" (theIcon)="putInActiveIcon($event)" ></app-card1>
        <app-card1 title="Personnel" [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-person-lines-fill' ></i>" (theIcon)="putInActiveIcon($event)" ></app-card1>
        <app-card1 title="Autres" [date1]="date1Conge" [date2]="date2Conge" icon="<i class='bi bi-person-fill-gear' ></i>" (theIcon)="putInActiveIcon($event)"                               ></app-card1>
    </div>
    <div class="mt-3" >
        <div class="d-flex" >
            <app-table1 [icon]="toTable1.icon" [title]="toTable1.title" class="w-100 mx-3" ></app-table1>
        </div>
    </div>
</div>

