@import "colors";

.evenement{
    width: 500px;
}

.selection{
    background-color: white;
    padding-top: 1em;
    padding-left: 1em ;
    padding-right: 1em;
    border-radius: 1em;
}

.annuler{
    font-size: 1.5em;
    background-color: white;
    padding: .5em;
    cursor: pointer;
    border: 1px solid $bordeau-color;
    transition: .5s;
    &:hover{
    border: 1px dashed $for-blue-color;
    
    }

    &:active{
        background-color: rgb(211, 211, 211);
    }
}

// .trier{
//     border-top: 1px black ridge;
//     border-bottom: 1px black ridge;
// }
