<app-loader *ngIf="loaderVisible" ></app-loader>
<ng-container *ngIf="isConnected" >
    <app-navigation></app-navigation>
    <app-navigation-left></app-navigation-left>
</ng-container>
<router-outlet></router-outlet>

<div *ngIf="visible" class="p-5 w-100 text-center" >
    <a href="#"><img src="../assets/img/Logo_Afriland.png" alt="" width="468" height="96"></a>
    <h1 class="color-bordeau text-uppercase fw-bolder text-center head-1 p-3 " >Configuration de l'url BACKEND</h1>
    <div class="w-50 d-flex flex-column align-items-center gap-3 m-auto" >
        <input type="text" [(ngModel)]="urlBasicBackend" class="form-control" name="urlBackend" >
        <button mat-raised-button color="btn-bordeau" (click)="giveUrl()" >Confirmer <i class="bi bi-save" ></i> </button>
    </div>
</div>
