<!-- <ng-container *ngIf="tabAbsences && tabAbsences.length; else empty"> -->

<div class="p-3 w-100 vacance shadow m-3 hover-div">
    <div class="d-flex justify-content-between gap-5">
        <h1 class="w-max-content">Fait le {{absence.submissionDate | displayKey}} </h1>
        <div class="w-max-content">
            <span *ngIf="absence.validate==true">Accepté <i class="bi bi-check-circle"></i>
            </span>
            <span *ngIf="absence.validate==false">Refusé <i class="bi bi-x-octagon"></i> </span>
            <span *ngIf="absence.validate==null ">Non traité</span>
        </div>
    </div>
    <div class="ligne" ></div>
    <div class="px-1">
        <div>
            <h3>Motif</h3>
            <p>
                {{absence.motif}}
            </p>
        </div>
        <div *ngIf="absence.message">
            <h3>Commentaire</h3>
            <p> {{absence.message}} </p>
        </div>
        <div>
            <h3>Jour Du Remplacement </h3>
            <p class="text-capitalize">
                Le <span class="debut"> {{absence.start | displayKey }} </span>
            </p>
        </div>
        <div *ngIf="absence.nom">
            <h3>Remplaceur  </h3>
            <p class="text-capitalize">
                Mr/Mrs/Mlle <span class="fw-bold"> {{absence.nom | displayKey:"remplacement" }} </span>
            </p>
        </div>
    </div>
    <ng-container *ngIf="userAuth && !userAuth.agent">
        <hr>
        <div class="d-flex justify-content-end gap-2">
            <button mat-raised-button color="accent" *ngIf="absence.validate==true || absence.validate==null"
                (click)="absence.validate=false">Refuser</button>
            <button mat-raised-button color="primary" *ngIf="absence.validate==false || absence.validate==null"
                (click)="absence.validate=true">Valider</button>
        </div>
    </ng-container>

</div>
<!-- </ng-container> -->