<div class="page">
    <app-modal-planification [(open)]="openModalPlanification" *ngIf="openModalPlanification"
        (dataEmit)="receiveData($event)"></app-modal-planification>
    <app-modal-absence [(open)]="openModalAbsence" *ngIf="openModalAbsence" [(resetPlanning)]="resetPlanning"
        [(resetPersonnel)]="resetPersonnel"></app-modal-absence>
    <span class="title">
        <i class="bi bi-calendar3"> Planification /</i>
    </span>
    <div class="mt-5">
        <h1 class="head-3 color-bordeau"> Plannification de Permanence</h1>
        <div class="d-flex gap-2">
            <div class="anim-slide-s">
                <button mat-raised-button color="primary" [disabled]="disabledNewPlanning()"
                    *ngIf="authRoles.includes('MODIFIER PLANNING')" (click)="handleModalPlanification()"> <i
                        class="bi bi-calendar3 "></i> Générer un nouveau planning <i class="bi bi-plus-circle"></i>
                </button>
            </div>
            <div class="anim-slide-e">
                <button mat-raised-button class="bg-black text-white" *ngIf="authRoles.includes('AJOUTER UNE ABSENCE')"
                    (click)="openModalAbsence=true">
                    <i class="bi bi-calendar-range "></i> Ajouter une nouvelle Absence <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>
        <div class="mt-5 d-flex gap-4 align-items-center flex-wrap">
            <app-card-planning *ngFor="let planning of plannings, let i = index" [plannings]="plannings" [indice]="i"
                (planningEmit)="voirPlanning($event)"></app-card-planning>
        </div>
        <span id="planning"></span>
        <ng-container *ngIf="visiblePlanning && planningVisible && planningVisible.months">
            <div class="mt-5 pe-2 month-planning shadow-by-material2 anim-slide-s "
                *ngFor="let month of planningVisible.months, let i = index">
                <h1> Superviseur : {{ (month.superviseur && month.superviseur.firstname) }} </h1>
                <div class="ligne"></div>
                <div class='planning mt-2 overflow-x-auto pt-2 '>
                    <ng-container *ngFor="let permanence of month.permanences">
                        <app-day [permanence]="permanence">
                        </app-day>
                    </ng-container>
                </div>
            </div>

            <!-- <div class="mt-5 pe-2 month-planning shadow-by-material2 anim-slide-s "  *ngFor="let point of remplissage.pointDate, let i = index">
                <h1> Superviseur : {{displaySuperviseur(i) || "Aucun défini" }} </h1>
                <div class="ligne"></div>
                <div class='planning mt-2 overflow-x-auto pt-2 '>
                    <ng-container *ngFor="let day of genTabNum(point, i-1)">
                        <app-day [permanence]="permanences[day + (remplissage.pointDate[i-1]||0) ]">
                        </app-day>
                    </ng-container>
                </div>
            </div> -->
        </ng-container>
    </div>
</div>