
.planning{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.ligne{
    background-color: black;
    height: 1px;
    margin: 2px;
}

.month-planning{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 5px 1.5em #b3b3b3;
    border-radius: 1em
}