<div class="page">
    <app-modal-planification [(open)]="openModalPlanification" *ngIf="openModalPlanification"
        (dataEmit)="receiveData($event)"></app-modal-planification>
    <span class="title">
        <i class="bi bi-calendar3"> Planification /</i>
    </span>
    <div class="mt-5">
        <h1 class="head-3 color-bordeau"> Plannification de Permanence</h1>
        <div>
            <button mat-raised-button color="primary" (click)="handleModalPlanification()"> <i
                    class="bi bi-calendar3"></i> Générer un nouveau planning <i class="bi bi-plus-circle"></i> </button>
        </div>
        <div class="mt-5 d-flex gap-4 align-items-center flex-wrap" *ngFor="let planning of plannings">
            <app-card-planning [planning]="planning"></app-card-planning>
        </div>
        <div class="mt-5" *ngFor="let point of remplissage.pointDate, let i = index" >
            <h1> Superviseur : {{displaySuperviseur(i) || "Aucun défini" }} </h1>
            <div class="ligne"></div>
            <div class='planning mt-2'>
                <ng-container *ngFor="let day of genTabNum(point, i-1)" >
                    <app-day [permanence]="permanences[day + (remplissage.pointDate[i-1]||0) ]">
                    </app-day>
                </ng-container>
            </div>
        </div>
        <!-- <div class="mt-5" *ngFor="let point of remplissage.pointDate, let i = index" >
            <h1> Superviseur : {{displaySuperviseur(i) || "Aucun défini" }} </h1>
            <div class="ligne"></div>
            <div class='planning mt-2'>
                <ng-container *ngFor="let day of genTabNum(point, i-1)" >
                    <app-day [permanence]="permanence">
                    </app-day>
                </ng-container>
            </div>
        </div> -->
    </div>
</div>