<div class="my-modal">
    <div class="my-body shadow-lg">
        <button class="btn btn-close my-close" (click)="up()"></button>
        <div>
            <div class="my-title fw-bold p-2">
                <i class="bi bi-calendar-week"></i>
                Absences
            </div>
            <div class="ligne"></div>
            <div class="d-flex justify-content-center">

                <ng-container *ngIf="tabAbsences && tabAbsences.length; else empty">

                    <div class="p-3 w-100 vacance shadow-lg m-3" *ngFor="let oneAbsence of tabAbsences">
                        <div class="d-flex justify-content-between gap-5">
                            <h1 class="w-max-content">Fait le {{oneAbsence.submissionDate}} </h1>
                            <div class="w-max-content">
                                <span *ngIf="oneAbsence.validate==true">Accepté <i class="bi bi-check-circle"></i>
                                </span>
                                <span *ngIf="oneAbsence.validate==false">Refusé <i class="bi bi-x-octagon"></i> </span>
                                <span *ngIf="oneAbsence.validate==null ">Non traité</span>
                            </div>
                        </div>
                        <hr>
                        <div class="px-3">
                            <div>
                                <h3>Motif</h3>
                                <p>
                                    {{oneAbsence.motif}}
                                </p>
                            </div>
                            <div *ngIf="oneAbsence.message">
                                <h3>Commentaire</h3>
                                <p> {{oneAbsence.message}} </p>
                            </div>
                            <div>
                                <h3>Période</h3>
                                <p class="text-capitalize">
                                    du <span class="debut"> {{oneAbsence.start | displayKey }} </span> au <span class="fin"> {{
                                        oneAbsence.end | displayKey }} </span>
                                </p>
                            </div>
                        </div>
                        <ng-container *ngIf="!user.agent">
                            <hr>
                            <div class="d-flex justify-content-end gap-2">
                                <button mat-raised-button color="accent" *ngIf="oneAbsence.validate==true || oneAbsence.validate==null"
                                    (click)="oneAbsence.validate=false">Refuser</button>
                                <button mat-raised-button color="primary" *ngIf="oneAbsence.validate==false || oneAbsence.validate==null"
                                    (click)="oneAbsence.validate=true">Valider</button>
                            </div>
                        </ng-container>

                    </div>
                </ng-container>

                <ng-template #empty>
                    <h1 class="fst-italic">Aucune Données Trouvées</h1>
                </ng-template>

            </div>
        </div>
    </div>
</div>