@import "colors";

.part1 {
    border-right: 1px solid black;
}

.permanence-body {
    max-height: 50vh;
    overflow: auto;
}

// .part1, .part2{

// }

.form-control:focus, .select-form:focus{
    border-color: $bordeau-color;
    box-shadow: 2px 2px 1em $bordeau-color;
}
