<header class="anim-slideIn anim-fadeIn">
    <div class="d-flex justify-content-between align-items-center px-md-5 py-3 ">

        <div class="d-flex align-items-center gap-5">
            <a href="#"><img src="../../assets/img/Logo_Afriland.png" alt="" width="234" height="48"></a>
            <div class=" d-flex align-items-center gap-2">
                <button mat-mini-fab (click)="enleve_menu()" color="" class="no-shadow"
                    aria-label="Example icon button with a menu icon">
                    <i class="bi bi-list fs-3"></i>
                </button>
                <!-- <span class="fs-3 span"  ><i class="bi bi-list"></i></span> -->
                <!-- <span class="icon-search span"><i class="bi bi-search"></i></span> -->
            </div>
        </div>
        <div class="d-flex gap-4 align-items-center">

            <ng-container *ngIf="notifications && notifications.length; else empty">
                <span [matMenuTriggerFor]="notif" color="" mat-mini-fab
                    class="d-block position-relative span no-shadow"><i class="bi bi-bell-fill"></i>
                    <p class="alert-number m-0">+{{notifications.length.toString().padStart(2,'0')}} </p>
                </span>

                <mat-menu #notif="matMenu" xPosition="before">

                    <ng-container *ngFor="let notification of notifications">
                        <div mat-menu-item class="h-max-content p-0 line-height-0">
                            <app-line1 [nom]="''+getNameEmetteur(notification.annonce)"
                                [date]="notification.annonce.submissionDate || ''">
                                <i class="bi bi-person-fill"></i>
                                <p class="m-0 p-0 d-inline"> {{ notification.annonce.message }} </p>
                            </app-line1>
                        </div>
                    </ng-container>
                </mat-menu>
            </ng-container>
            <ng-template #empty>
                <span [matMenuTriggerFor]="noNotif" color="" mat-mini-fab
                    class="d-block position-relative span no-shadow"><i class="bi bi-bell-fill"></i>
                    <!-- <p class="alert-number m-0">0</p> -->
                </span>
                <mat-menu #noNotif="matMenu" xPosition="before">
                    <button mat-menu-item>
                        Aucune données
                    </button>
                </mat-menu>
            </ng-template>


            <span class="d-block position-relative span"><i class="bi bi-chat-left-dots-fill"></i>
                <p class="alert-number m-0">+99</p>
            </span>
            <div>
                <button class="fs-4 " color="" mat-mini-fab [matMenuTriggerFor]="beforeMenu">
                    <i class="bi bi-person-fill"></i>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="handleClick()"> {{(userAuth && userAuth.firstname) || "VOTRE NOM"}}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <app-modal1 [(isOpen)]="openModal" *ngIf="openModal" [rows]="userAuth"></app-modal1>
</header>