<div class="card2 shadow-by-material anim-slide-b" >
    <div>
        <h1 class="w-max-content" > <i class="bi bi-newspaper" ></i> {{title}}</h1>
        <div class="ligne" ></div>
    </div>
    <div class="body" >
        <div *ngIf="notifications && notifications.length; else empty" >
            <ng-container *ngFor="let notification of notifications" >

                    <app-line1 [nom]="''+getNameEmetteur(notification.annonce)" [date]="notification.annonce.submissionDate || ''">
                        <i class="bi bi-person-fill" ></i>
                        <p class="m-0 p-0 d-inline"> {{ notification.annonce.message }} </p>
                    </app-line1>
                
            </ng-container>
        </div>
        <ng-template #empty>
            <p class="d-flex fst-italic text-center" >Aucune données disponibles</p>
        </ng-template>
    </div>
</div>