<div class="card2 shadow-lg" >
    <div>
        <h1 class="w-max-content" > <i class="bi bi-newspaper" ></i> {{title}}</h1>
        <div class="ligne" ></div>
    </div>
    <div class="body" >
        <div *ngIf="personnels && personnels.length; else empty" >
            <ng-container *ngFor="let ipersonnel of personnels" >
                <app-line1 [nom]="ipersonnel.nom +' '+ ipersonnel.prenom" date="2023-07-25" >
                    <i class="bi bi-person-fill" ></i>
                    <p class="m-0 p-0 d-inline">A obtenu Congé</p>
                </app-line1>
            </ng-container>
        </div>
        <ng-template #empty>
            <p class="d-flex fst-italic text-center" >Aucune données disponibles</p>
        </ng-template>
    </div>
</div>