$bordeau-color:#6D071A;
$for-blue-color:blue;
$background-body: #f7f7f7;
$for-red-color:red;
$for-white-color:white;
$for-rose-color:#FFC1C5;
$for-dark-color:rgb(110 110 110);
$for-primary-color: #3F51B5;