<h1 mat-dialog-title class="head-4 color-bordeau " > <span [innerHTML]="iconTitle" ></span> {{data.titre}} </h1>
<hr>
<div mat-dialog-content>
  <div class="d-flex flex-column gap-2 p-1" >
    <div *ngFor="let cle of dataForm | keyvalue " >
        <div> <label [for]="'add'+cle.key" class="text-uppercase fw-bold" > {{cle.key  | displayKey:"any" }} </label> </div>
        <div> <input type="text" class="form-control py-2" [name]="cle.key" [id]="'id'+cle.key" [(ngModel)] = "cle.value" >  </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="btn-bordeau"  > Confirmer <i class="bi bi-save" ></i> </button>
</div>
