<h1 mat-dialog-title class="head-4 color-bordeau" > <i class="bi bi-file-pdf-fill" ></i> Generation du PDF</h1>
<div mat-dialog-content class="pb-2">
  <div class="p-1">
    <label for="title_pdf" class="fs-3 fw-bold" >Titre du pdf</label>
    <input type="text" class="form-control" name="titre_pdf" id="title_pdf" [(ngModel)]="jasperModel.title" >
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end gap-2 my-border-top">
  <button mat-raised-button (click)="onNoClick()">Annuler</button>
  <button
    mat-raised-button
    color="btn-bordeau"
    [mat-dialog-close]="jasperModel"
    [disabled]="!jasperModel.title"
  >
    Telecharger  <i class="bi bi-download"></i>
  </button>
</div>
