<div class="my-modal ">
    <app-modal3 [(close)]="closeModal3" *ngIf="!closeModal3" [tabs]="rows.absentList" ></app-modal3>
    <div class="my-body shadow-lg anim-scaleIn see-modal1">
        <button class="btn btn-close my-close" (click)="closeModal()"></button>
        <div>
            <div class="my-title fw-bold p-2">
                <i class="bi bi-person-fill"></i>
                Informations
            </div>
            <div class="ligne"></div>
            <div class="d-flex contenu">
                <div class="m-3 p-3 part1">
                    <div>
                        <h1 class="pb-2"> <i class="bi bi-card-text"></i> A propos  <button mat-raised-button class="text-uppercase" color="primary" (click)="openDialog()" *ngIf="userRoles.includes('ATTRIBUER LES ROLES')" > Changer ses roles <i class="bt bi-toggles2" ></i></button></h1>
                        <table class="table table-hover ">
    
                            <tbody>
                                <ng-container *ngFor="let elmt of keyRow">
                                    <tr *ngIf=" rows[elmt] " class="p-2">
                                        <th class="text-capitalize" > <div class="w-max-content"> {{elmt | displayKey }}  </div> </th>
                                        <td> {{rows[elmt] }} </td>
                                    </tr>
                                </ng-container>
                            </tbody>
    
                        </table>
                    </div>
                </div>
                <div class="p-3 part2 d-flex flex-column gap-3">
                    <div>
                        <h1>
                            <i class="bi bi-calendar2-week"> </i> Sur les Abscences
                        </h1>
                        <table *ngIf="keyRowHoliday.length; else emptyHoliday " class="table table-hover">

                            <tbody>
                                <ng-container *ngFor="let elmt1 of keyRowHoliday">
                                    <tr *ngIf=" rows.vacancies[0][elmt1] " class="p-2">
                                        <th class="text-capitalize"> <div class="w-max-content"> {{elmt1 | displayKey }}  </div>  </th>
                                        <td> {{rows.vacancies[0][elmt1] }} </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <ng-template #emptyHoliday>
                            <p class="fst-italic">Aucune données trouvées</p>
                        </ng-template>

                    </div>
                    <div class="ligne2"></div>
                    <div>
                        <h1>
                            <i class="bi bi-motherboard"></i> Sur les Remplacements
                        </h1>
                        
                        <table *ngIf="infoAbsence.value ; else emptyAbsence " class="table table-hover m-0">

                            <tbody>
                                <ng-container *ngFor="let elmt2 of infoAbsence.keys">
                                    <tr *ngIf=" infoAbsence.value[elmt2] as ifDone" class="p-2">
                                        <th class="text-capitalize"><div class="w-max-content"> {{elmt2 | displayKey:"remplacement" }}  </div>  </th>
                                        <td> {{ifDone }} </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="text-end" >
                            <button mat-button color="accent" (click)="openModalAbsence()"  *ngIf="!!rows.absentList && rows.absentList.length>0">
                                Voir tout
                            </button>
                        </div>
                        <ng-template #emptyAbsence>
                            <p class="fst-italic">Aucune données trouvées</p>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>